html,body{
    height:100%;
   
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-between; */
    border:2px solid rgb(237,237,237);
    border-radius: 10px;
    width: 100vw;
    /* margin:10px auto; */
    padding: 0.5%;
    box-sizing: border-box;
    align-items: center;
    background-color: white;
    position: fixed;
   
    /* place-items: center; */
}
.logo{
    width: 20vw;
    /* border:1px solid; */
  
}
.logo img{
    height: 100%;
    width: 100%;
}
.headright{
    display: flex;
    /*grid-template-columns: 1fr 1fr 1fr;*/
     /* justify-content:space-evenly;  */
    /* column-gap: 10%; */
    box-sizing: border-box;
    justify-content: end;
    column-gap: 20px;
    align-items: center;
    
}
.headright div:hover{
    background-color: rgb(237,237,237);
    padding: 2%;
    border-radius: 15px;
    
    box-sizing: content-box;
}
.headeruser{
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    background-color:whitesmoke;
    padding: 2px;
    border-radius: 10px;
    column-gap: 10px;
}
 